# Virtual environment
venv/
.env
*.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Model files (can be heavy, optional)
models/*.pkl
models/*.joblib

# Logs
*.log

# OS / IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/
